---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="bg-light dark:bg-darkmode-light">
  <div class="container py-7 text-center text-text-light dark:text-darkmode-text-light">
    <p set:html={markdownify(config.params.copyright)} />
  </div>
</footer>
